---
import Layout from "../layouts/Layout.astro";
import ArticlePreview from "../components/ArticlePreview.astro";

const res = await fetch("http://localhost:8080/article?size=10&page=0");
const data = await res.json();
const articles = data.articleSummaryList;

---

<Layout title="Hikmet Cakir Blog">  
  <div class="grid" style="padding-left:15%; padding-right:15%;">
    {
        articles.map(article => <ArticlePreview article={article} key={article.id} />)
    }
  </div>
</Layout>