---
import '../styles/cms-sidebar.css'; 

const currentPath = Astro.url.pathname;
---

<div class="sidebar">
    <div class="logo">
        <h1>CMS<span>Panel</span></h1>
    </div>
    <div class="nav-menu">
        <div class="menu-heading">DASHBOARD</div>
        <div class={`nav-item ${currentPath === '/cms/dashboard' ? 'active' : ''}`}>
        <i class="fas fa-file-alt"></i>
        <span>Summary</span>
        </div>  
        <div class="menu-heading">CONTENT</div>
        <a href="/cms/article" class={`nav-item ${currentPath === '/cms/article' ? 'active' : ''}`} >  
        <i class="fas fa-file-alt"></i> 
        <span>Article</span> 
        </a>
        
        <a href="/category" class="nav-item">  
        <i class="fas fa-tags"></i>
        <span>Category</span> 
        </a>

        <div class="menu-heading">USER</div>
        <div class="nav-item">
        <i class="fas fa-user-shield"></i>
        <span>Admin</span>
        </div> 
        <div class="nav-item">
        <i class="fas fa-pen-nib"></i>
        <span>Author</span>
        </div>

        <div class="menu-heading">REPORTS</div>
        <div class="nav-item">
        <i class="fas fa-chart-line"></i>
        <span>Analytics</span>
        </div> 
    </div>
</div>