---
 
---
<header class="w-full bg-black">
  <div class="flex justify-between items-center px-6 py-4"> 
    <div class="text-white font-bold text-xl">
      Hikmet Cakir
    </div>
 
    <nav class="flex gap-6 text-white">
      <a href="#veri" class="hover:text-gray-300 whitespace-nowrap">Data Structures & Algorithms</a>
      <a href="#veri" class="hover:text-gray-300 whitespace-nowrap">SQL</a> 
      <a href="#spring" class="hover:text-gray-300 whitespace-nowrap">Spring Boot</a> 
      <a href="#java" class="hover:text-gray-300 whitespace-nowrap">Java</a> 
    </nav>
  </div>
</header>

