.article-title-box {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.article-title-box label {
    margin-bottom: 5px;
    font-weight: 500;
}

.article-title-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}